<h2>{{tripName}}</h2>
<div *ngIf="step == Step.One">
  <h2>Step 1</h2>

  <div *ngFor="let ticket of tickets;let i = index">
    <span *ngIf="ticket.ticketType == 1">成人票</span>
    <span *ngIf="ticket.ticketType == 2">兒童票</span>
    <br />
    <input type="number" id="adultTicketNumber" *ngIf="ticket.ticketType == 1" />
    <input type="number" id="childrenTicketNumber" *ngIf="ticket.ticketType == 2" />
    <br />
    $NT{{ticket.amount}}元
  </div>
  <span>
    <input type="checkbox" />我已經閱讀了「報名須知」與「旅遊契約書」，並同意其內容
  </span>
  <br />
  <button class="btn" (click)="goToStep2()">下一步</button>
</div>

<div *ngIf="step == Step.Two">
  <h2>Step 2</h2>

  <input type="radio" name="payment" value="3">ATM轉帳<br>
  <input type="radio" name="payment" value="1">VISA<br>
  <input type="radio" name="payment" value="2"> MASTER<br>
  <br />
  <button class="btn" (click)="goToStep3()">下一步</button>
</div>

<div *ngIf="step == Step.Three">
  <h2>Step 3</h2>
  <input type="checkbox" />確定購買

  <button class="btn" (click)="goToStep4()">下一步</button>
</div>
<div *ngIf="step == Step.Four">
  <h2>Step 4</h2>
  <h5>購買成功</h5>
</div>

