<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    會員姓名:
    <input type="text" id="name" formControlName="Name" required maxlength="25">
  </label>
  <br />
  <label>
    密碼:
    <input type="password" id="passWord" formControlName="Password" required maxlength="20" min="10">
  </label>
  <br />
  <label>
    出生日:
    <input type="text" id="birthDay" formControlName="BirthDay" required>
  </label>
  <br />
  <label>
    聯絡電話:
    <input type="text" id="mobilePhone" formControlName="MobilePhone" maxlength="10" required>
  </label>
  <br />
  <label>
    Email:
    <input type="text" id="email" formControlName="Email" required maxlength="25">
  </label>
  <br />
  <button type="submit">會員修改</button>
</form>
<br />
<table class="table" *ngIf="transactionList.length >= 1">
  <tr>
    <td>會員姓名</td>
    <td>旅遊名稱</td>
    <td>成人票</td>
    <td>兒童票</td>
    <td>總金額</td>
  </tr>
  <tr *ngFor="let transaction of transactionList;let i = index">
    <td>{{transaction.memberName}}</td>
    <td>{{transaction.tripName}}</td>
    <td>{{transaction.adultTicket}}</td>
    <td>{{transaction.childTicket}}</td>
    <td>{{transaction.totalAmount}}</td>
  </tr>
</table>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <p>{{message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalClose()">Close</button>
      </div>
    </div>
  </div>
</div>
